root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Estilo de aspas preferido (não é padrão do editorconfig, mas plugins podem usar)
quote_type = single

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_size = 2

[*.ts]
indent_size = 2

[*.tsx]
indent_size = 2

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.vue]
indent_size = 2

[*.css]
indent_size = 2

[*.html]
indent_size = 2
